* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

}




h1 {
    background-color: #0f2a3f;
    height: 75px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

#citySearch {

    margin-left: 30px;
    border-width: 20%;


}

h2 {
    margin-top: 15px;
}

#userSearch {
    width: 20%;
    margin-top: 20px;
    border-radius: 5px;

}

#searchBtn {
    width: 20%;
    margin-top: 20px;
    background-color: #5982a1;
    color: #fff;
    border-radius: 5px;


}

#search-results {

    width: 75%;

}


#card-container {

    display: inline-flex;
    justify-content: right; 
    
    gap: 18px;
    margin-right: 50px;


}

#main-card {
    position: absolute;
    top: 125px;
    right: 65px;
    width: 65%;
    height: 200px;
    border: solid 2px;
}

#card-1, #card-2, #card-3, #card-4, #card-5 {
    
    margin-top: 100px;
    margin-bottom: 25px;
    width: 10rem;
    height: 200px;
    border: solid 2px;
    background-color: #0f2a3f;
    color: #fff;

}


